<?xml version="1.0"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <property name="connection.driver_class">org.h2.Driver</property>
        <property name="connection.url">jdbc:h2:./db2</property>
        <property name="connection.username">sa</property>
        <property name="connection.password"/>
        <property name="dialect">org.hibernate.dialect.H2Dialect</property>
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">create-drop</property>

        <!-- List of entities: -->

        <!--
        <mapping class="edu.hibernate.samples.messenger.model.domain.Message"/>
        -->

        <!--
        <mapping class="edu.hibernate.samples.association.many2one.entities.Person"/>
        <mapping class="edu.hibernate.samples.association.many2one.entities.Phone"/>
        -->

        <!--
        <mapping class="edu.hibernate.samples.association.one2many.unidirectional.entities.Person"/>
        <mapping class="edu.hibernate.samples.association.one2many.unidirectional.entities.Phone"/>
        -->

        <!--
        <mapping class="edu.hibernate.samples.association.one2many.bidirectional.entities.Person"/>
        <mapping class="edu.hibernate.samples.association.one2many.bidirectional.entities.Phone"/>
        -->

        <mapping class="edu.hibernate.samples.association.one2one.unidirectional.entities.Word"/>
        <mapping class="edu.hibernate.samples.association.one2one.unidirectional.entities.Pronunciation"/>


    </session-factory>
</hibernate-configuration>

<!--
    to echo - повторять, вторить, подражать
-->