<?xml version="1.0" encoding="UTF-8"?>

<!-- -->
<!-- &quot;&quot;: &quot;&quot;,%n -->

<!--
    Configuration attributes:
    dest - destination where events will be logged
    status - level of internal Log4j events that should be logged to the destination
-->

<Configuration status="WARN">

    <Appenders>

        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%date %-5level [%class{-3}, %method] %msg%n"/>
        </Console>

        <File name="Logbook" fileName="logs/logbook.log">
            <ThresholdFilter level="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="%date %-5level [%class{-3}, %method] %msg%n"/>
        </File>

    </Appenders>

    <Loggers>

        <Root level="WARN">
            <AppenderRef ref="Console"/>
        </Root>

        <!-- default attribute: additivity="true" -->
        <Logger name="edu.sam.spittr.controller" level="DEBUG">
            <AppenderRef ref="Logbook"/>
        </Logger>
        
        <Logger name="org.hibernate.type" level="TRACE"/>

    </Loggers>
</Configuration>